@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
  }
}

/* Custom smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f0f3ff;
}
::-webkit-scrollbar-thumb {
  background: #004482;
  border-radius: 4px;
}
